@import "tailwindcss";

.font-body {
	font-family: var(--font-body);
}
.font-title {
	font-family: var(--font-title);
}
.font-geist {
	font-family: var(--font-option);
}

:root {
	--color-primary: #81bc62;

	--color-primary-50: #f1f7ed;
	--color-primary-100: #ddedd4;
	--color-primary-300: #81bc62;
	--color-primary-500: #5e9640;
	--color-primary-700: #3f642b;
}

@theme {
	--color-primary-50: var(--color-primary-50);
	--color-primary-100: var(--color-primary-100);
	--color-primary-300: var(--color-primary-300);
	--color-primary-500: var(--color-primary-500);
	--color-primary-700: var(--color-primary-700);
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
